.login_container {
	width: 400px;
	margin: 0 auto;
}

.login-form {
	margin-top: 25%;
}

body {
	background-color: silver;
}

.login-card {
	width: 400px;
	margin: auto;
	margin-top: 150px;
}

.login-card .layui-card-header {
	background-color: #1E9FFF;
}